<!-- Eventually, add a third nav on top of nav (route-nav), this will also only have a close button like about-nav
 but this button will be a route for the homepage -->

<nav class="nav-container">
    <nav class="nav">
        <div class="edge-margin"></div>
        <div class="column title"><a href="#">Rayyan's&nbsp;Archive&nbsp;and&nbsp;Gallery</a></div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"><a class="main-link">01</a></div>
        <div class="column"></div>
        <div class="column"><a class="main-link">02</a></div>
        <div class="column"></div>
        <div class="column"><a href="#" (click)="openMenu()">Menu</a></div>
        <div class="column"><a href="#" id="col-icon">||||</a></div>
        <div class="edge-margin">
        </div>
    </nav>
    <nav class="about-nav">
        <div class="edge-margin"></div>
        <div class="column title"><a href="#">Rayyan's&nbsp;Archive&nbsp;and&nbsp;Gallery</a></div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"><a href="#" id="close-link" (click)="closeMenu()">Close</a></div>
        <div class="column"></div>
        <div class="edge-margin">
        </div>
    </nav>
</nav>
<div class="nav-filler"></div>