<!-- Eventually, add a third nav on top of nav (route-nav), this will also only have a close button like about-nav
 but this button will be a route for the homepage -->

<nav class="nav-container">
    <nav class="nav">
        <div class="edge-margin"></div>
        <div class="column title"><a routerLink="">Rayyan's&nbsp;Archive&nbsp;and&nbsp;Gallery</a></div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"><a class="main-link" (click)="switchView(1)" [ngClass]="{'italic': viewSwitcherService.getViewState() === 1}">View&hairsp;001</a></div>
        <div class="column"></div>
        <div class="column"><a class="main-link" (click)="switchView(2)" [ngClass]="{'italic': viewSwitcherService.getViewState() === 2}">View&hairsp;002</a></div>
        <div class="column"></div>
        <div class="column"><a (click)="routeMenu('open', true)">About</a></div>
        <div class="column"><a (click)="toggleGrayscale()">BW</a></div>
        <div class="edge-margin">
        </div>
    </nav>
    <nav class="about-nav">
        <div class="edge-margin"></div>
        <div class="column title"><a routerLink="">Rayyan's&nbsp;Archive&nbsp;and&nbsp;Gallery</a></div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"><a id="close-link" routerLink="" (click)="routeMenu('close')">Close</a></div>
        <div class="column"></div>
        <div class="edge-margin">
        </div>
    </nav>
</nav>
<div class="nav-filler"></div>


<section class="nav-area">
    <div class="grid">
        <div class="column">
            <ul>
                <li>
                    <div class="column-text-outer">
                        <div class="column-text-inner">
                            <a class="title">About</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="column-text-outer">
                        <div class="column-text-inner"  style="padding-right: 1.5vw; box-sizing: border-box;">
                            <span>I created Archive & Gallery as a collection of some of the best pictures that I have taken / have been taken of me in the past few years.</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="column">
            <ul>
                <li>
                    <div class="column-text-outer">
                        <div class="column-text-inner">
                            <a class="title">Tools</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="column-text-outer">
                        <div class="column-text-inner">
                            <a>Development:</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="column-text-outer">
                        <div class="column-text-inner">
                            <a >HTML, CSS, JS</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="column-text-outer">
                        <div class="column-text-inner">
                            <a >Typescript</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="column-text-outer">
                        <div class="column-text-inner">
                            <a >Angular</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="column-text-outer">
                        <div class="column-text-inner">
                            <a >GSAP</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="column-text-outer">
                        <div class="column-text-inner">
                            <a ><br></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="column-text-outer">
                        <div class="column-text-inner">
                            <a >Design: </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="column-text-outer">
                        <div class="column-text-inner">
                            <a >Figma</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="column-text-outer">
                        <div class="column-text-inner">
                            <a  target="_blank" href="https://fonts.google.com/specimen/Urbanist?vfquery=urbani">Urbanist font</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="column-text-outer">
                        <div class="column-text-inner">
                            <a  target="_blank" href="https://www.behance.net/gallery/93242287/BIGILLA-FREE-DISPLAY-SERIF-TYPEFACE">Bigilla font</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="column">
            <ul>
                <li>
                    <div class="column-text-outer">
                        <div class="column-text-inner">
                            <a class="title">Collections</a>
                        </div>
                    </div>
                </li>
                <li *ngFor="let name of names">
                    <div class="column-text-outer">
                        <div class="column-text-inner">
                            <a>{{name}}</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="column">
            <ul>
                <li>
                    <div class="column-text-outer">
                        <div class="column-text-inner">
                            <a class="title">Contact</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="column-text-outer">
                        <div class="column-text-inner">
                            <a href="mailto:raytariq93@gmail.com">Email: raytariq93@gmail.com</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="column-text-outer">
                        <div class="column-text-inner">
                            <a href="https://www.instagram.com/rayyananan" target="_blank">Instagram: @rayyananan</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="column-text-outer">
                        <div class="column-text-inner">
                            <a href="https://twitter.com/raayyananan" target="_blank">Twitter: @rayyananan</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="column-text-outer">
                        <div class="column-text-inner">
                            <a>+92 3219944952</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="column"></div>
        <div class="column">
            <div class="image-container">
                <div class="filler"></div>
                <div class="column-text-outer"><div class="column-text-inner">
                    <img src="assets/images/Overwhelmed/5.jpg" title="Rayyan Tariq" alt="Picture of Rayyan Tariq">
                </div></div>

            </div>
            <div class="column-text-outer credit"><div class="column-text-inner">
                <h1 class="credit">Created by Rayyan Tariq</h1>
            </div></div>
        </div>
    </div>
</section>