.nav-container {
    overflow: hidden;
    position: fixed;
    z-index: 4;
    height: 45px;

    nav {
        width: 100%;
        left: 0;
        align-items: center;
        height: 45px;
        display: grid;
        grid-template-columns: 0 repeat(9, 1fr) 0;
        grid-auto-flow: column;
        grid-gap: 2.7vw;
        animation: fade-in 300ms;
    
        .column {
            // background: rgb(220, 220, 220);
            text-align: left;
    
            a {
                font-weight: 700;
                font-size: 15px;
                text-transform: uppercase;
                &:hover {
                    cursor: pointer;
                }
                &.italic {
                    font-style: italic; 
                    text-decoration: line-through;
                }
            }
            // a.link {
            //     transition: 0.3s;
            //     &:hover {
            //         color: rgb(110,110,110);
            //     }
            //     &.italic {
            //         color: var(--background-text);
            //     }
            // }
        }
    
        .title {
            text-align: left;
            text-transform: uppercase;
            min-width: 0;
        }
    
        a {
            transition: opacity 0.75s color 0.75s;
            display: block;
            opacity: 1;

            &:active {background: transparent;}
        }
    
        &.about-revealed {
    
            a {
                color: var(--about-background-text);
            }
            .main-link a {
                opacity: 0;
                
                &:hover {
                    cursor: default;
                }
            }
        }
    
    }

    .collection-nav {
        transform: translateY(-45px)
    }
}
.nav-filler {
    height: 45px;
    width: 100%;
}

.nav-area {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background: var(--about-background);
    color: var(--about-background-text);
    display: none;
    opacity: 0;

    h1, a {color: white}

    a {
        span {
            transition: opacity 0.25s;
            opacity: 0;
        }
        &:hover {
            span {
                opacity: 1;
            }
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr) auto;
        grid-gap: 1vw;
        padding: calc(45px + 2.7em) 2.7vw 2.7em;
        height: 100%;
        box-sizing: border-box;

        .column-text-outer {
            overflow: hidden;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            .title {
                font-weight: 600;
            }
        }

        .image-container {
            display: flex;
            flex-direction: column;
            width: 23vw;
            height: 100%;
            
            img {
                max-width: 100%;
                animation: fade-in 0.5s 1.2s forwards;
                opacity: 0;

                @keyframes fade-in {
                    0% {opacity: 0}
                    100% {opacity: 1}
                }
            }
            .filler {
                flex: auto;
            }
        }

        .column-text-outer.credit {
            position: fixed;
            bottom: 2.7vw;
            left: 2.7vw;
            h1 {
                margin: 0;
                padding: 0;
                font-size: 3rem;
                text-transform: uppercase;
            }
        }
    }
}

@media only screen and (max-width: 1250px) {
    .nav-container nav {grid-gap: 1.9vw;}
    .nav-area .grid {padding: calc(45px + 2.7em) 1.9vw 2.7em;}
}
@media only screen and (max-width: 1100px) {
    .nav-container nav {grid-gap: 1.2vw}
    .nav-area .grid {padding: calc(45px + 2.7em) 1.2vw 2.7em;}
}
@media only screen and (max-width: 950px) {
    .nav-container nav {grid-gap: 0.9vw}
    .nav-area .grid {padding: calc(45px + 2.7em) 0.9vw 2.7em;}
}