.nav-container {
    overflow: hidden;
    position: fixed;
    z-index: 5;
    height: 45px;
    width: 100vw;
    background: transparent;

    nav {
        position: relative;
        z-index: 4;
        width: 100%;
        left: 0;
        align-items: center;
        height: 45px;
        display: grid;
        grid-template-columns: 0 repeat(9, 1fr) 0;
        grid-auto-flow: column;
        grid-gap: 1.5vw;
        animation: fade-in 300ms;
    
        .column {
            // background: rgb(220, 220, 220);
            text-align: left;
        }
        .inner-link {
            font: inherit;
            font-weight: 700;
            font-size: 13px;
            padding: 0 7%;
            box-sizing: border-box;
            position: relative;
            display: inline-block;

            background: none;
            color: inherit;
            border: inherit;
            cursor: pointer;
            // outline: inherit;

        
            // text-transform: uppercase;

            &:hover {
                cursor: pointer;

                &::before {
                    transform-origin: left;
                    transform: scaleX(1);
                }
            }
            &.italic {
                // font-style: italic; 

                &::before {
                    transform: scaleX(1);
                }
            }

            &::before {
                content: '';
                position: absolute;
                width: 80%;
                margin-left: 10%;
                height: 1px;
                background-color: var(--text-strikethrough);
                bottom: 0;
                left: 0;
                transform-origin: right;
                transform: scaleX(0);
                transition: transform 0.9s;
                transition-timing-function:cubic-bezier(0.19, 1, 0.22, 1);
            }
            span {position: relative; display: inline-block}
        }
        #v001 span {transform: skewX(-15deg);}

        .emphasized {
            animation: emphasis 1.1s 10s infinite alternate linear;
            @keyframes emphasis {
                // 100%,0%{
                //     color: rgb(78, 0, 38);
                // }
                // 8%{
                //     color: rgb(127, 64, 0);
                // }
                // 16%{
                //     color: rgb(132, 0, 0);
                // }
                // 41%{
                //     color: rgb(0, 148, 123);
                // }
                // 50%{
                //     color: rgb(0, 150, 150);
                // }
                // 58%{
                //     color: rgb(80, 0, 160);
                // }
                // 75%{
                //     color: rgb(0, 74, 148);
                // }
                // 83%{
                //     color: rgb(155, 0, 119);
                // }
                // 91%{
                //     color: rgb(172, 0, 100);
                // }
                0%, 100% {
                    color: black;
                }
                45%, 55% {
                    color: rgb(245,245,245);
                } 
            }
        }
    
        .title {
            text-align: left;
            text-transform: uppercase;
            min-width: 0;
        }
    
        .inner-link {
            transition: opacity 0.75s color 0.75s;
            // display: block;
            opacity: 1;

            &:active {background: transparent;}
        }
    
    }

    .collection-nav {
        transform: translateY(-45px)
    }

    .transition {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 0;
        z-index: 4;
    }
}
.nav-filler {
    height: 45px;
    width: 100vw;
}

.loader {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background: rgb(240,240,240);

    .percentage {
        text-align: center;
        font-size: 14px;
        font-weight: 600;

        .column-text-outer {
            .column-text-inner {
                transform: translateY(-100%);
                text-transform: uppercase;
            }
        }
    }
}

.nav-area {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    background: var(--background);
    box-sizing: border-box;
    display: none;
    opacity: 0;
    font-size: 13px;

    .mobile {
        width: 50%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        height: 100%;

        .wrapper {
            padding: 15px 0 15px 15px;
        }
    }

    .desktop {
        grid-template-columns: 0 repeat(9, 1fr) 0;
        grid-gap: 1.5vw;
        box-sizing: border-box;
        padding-top: 80px;
        display: grid;
    
        .image, .contact {
            display: flex;
            flex-flow: column nowrap;
            grid-column: span 2;
    
            .filler {flex: auto}
            img {max-width: 100%;}
            .bottom {
                margin-bottom: 15px; 
                span {
                    opacity: 0;
                    transition: opacity 0.3s;
                }
                li:hover {
                    span {opacity: 1;}
                }
            }
    
        }
        .semibold {font-weight: 600;}
    
        .center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.85em;
            opacity: 13%;
            text-transform: uppercase;
            font-weight: 700;
        }
    }
    p {padding: 0; margin: 0 0 5px 0;}
    ul {
        list-style-type: none;
        text-decoration: none;
        padding: 0;
        margin: 0;
    }
}

.nav-area::-webkit-scrollbar {
    width: 0;
    background-color: var(--background)
}
.nav-area::-webkit-scrollbar-thumb {
  background-color: var(--background)
}

.semibold {font-weight: 600}


@media only screen and (max-width: 1250px) {
    .nav-container nav {grid-gap: 1.9vw;}
}
@media only screen and (max-width: 1150px) {
    .nav-container nav {grid-gap: 1.2vw}
}
@media only screen and (max-width: 1050px) {
    .nav-container nav {grid-gap: 0.9vw}
}

@media only screen and (max-width: 800px) {
    .nav-container nav {
        grid-template-columns: 0 repeat(4, 1fr) 0;
        grid-gap: 15px;

        .hide-small-screen {display: none;}
        .about, .close {
            text-align: right;
        }
    }
}