<main class="collection" (mouseleave)="viewSwitcherService.setView3MouseUp()">

    <div *ngFor="let image of collection, let i = index" class="cell" [ngClass]="{'image-cell': image.src}" #images>
            <img class="thumbnail" *ngIf="image.src" src="{{image.src}}" (mouseenter)="changeHeading('in', image.name)" 
            (mouseleave)="changeHeading('out')" (click)="navigate(image.url!, parseInt(image.number))"  
            [attr.data-srno]="image.id" alt="{{image.alt}}" [attr.data-name]="image.name" draggable="false">
    </div>
    <section class="heading">
        <div class="text-container">
            <h1 class="right" #rightHeading>{{ currentTitle }}</h1>
        </div>
        <div class="text-container">
            <h1 class="left" #leftHeading>{{ currentTitle }}</h1>
        </div>
    </section>

    <section class="view02-container">
        <div id="image-container">

        </div>
        <div class="collectionList left">
            <div class="flex-container">
                <ul *ngFor="let i of [1,2]"> <!--*ngFor="let i of [1,2]"-->
                    <li *ngFor="let name of names; let i = index" class="column-text-outer">
                        <div class="column-text-inner"><span (click)="view02Navigate(URLify(name))" [class.tab]="i % 2 === 1 && i !== 0" (mouseenter)="topImage(i)">{{name}}</span></div>
                    </li>
                    <!-- <li class="column-text-outer"><div class="column-text-inner"><span>Aromatic Fragrance</span></div></li>
                    <li class="column-text-outer"><div class="column-text-inner"><span>Mirrored Self</span></div></li>
                    <li class="column-text-outer"><div class="column-text-inner"><span>Stuart Little</span></div></li>
                    <li class="column-text-outer"><div class="column-text-inner"><span>Blossom</span></div></li>
                    <li class="column-text-outer"><div class="column-text-inner"><span>Sleepless Nights</span></div></li>
                    <li class="column-text-outer"><div class="column-text-inner"><span>Overwhelmed</span></div></li>
                    <li class="column-text-outer"><div class="column-text-inner"><span>Stationary Study</span></div></li>
                    <li class="column-text-outer"><div class="column-text-inner"><span>Editorial Mimicry</span></div></li>
                    <li class="column-text-outer"><div class="column-text-inner"><span>Architecture</span></div></li>
                    <li class="column-text-outer"><div class="column-text-inner"><span>Insectified</span></div></li>
                    <li class="column-text-outer"><div class="column-text-inner"><span>Harold Nymph</span></div></li>
                    <li class="column-text-outer"><div class="column-text-inner"><span>Furnishings</span></div></li>
                    <li class="column-text-outer"><div class="column-text-inner"><span>Luminousity</span></div></li>
                    <li class="column-text-outer"><div class="column-text-inner"><span>Chocolate Waffles</span></div></li> -->
                </ul>
            </div>
        </div>
        <div class="collectionList right" style="right: 0!important; text-align: right;">
            <div class="flex-container">
                <ul *ngFor="let i of [1,2]">
                    <li *ngFor="let name of names; let i = index" class="column-text-outer">
                        <div class="column-text-inner"><span (click)="view02Navigate(URLify(name))" [class.tab]="i % 2 === 1 && i !== 0" (mouseenter)="topImage(i)">{{name}}</span></div>
                    </li>
                    <!-- <li class="column-text-outer"><div class="column-text-inner"><span>Aromatic Fragrance</span></div></li>
                    <li class="column-text-outer"><div class="column-text-inner"><span>Mirrored Self</span></div></li>
                    <li class="column-text-outer"><div class="column-text-inner"><span>Stuart Little</span></div></li>
                    <li class="column-text-outer"><div class="column-text-inner"><span>Blossom</span></div></li>
                    <li class="column-text-outer"><div class="column-text-inner"><span>Sleepless Nights</span></div></li>
                    <li class="column-text-outer"><div class="column-text-inner"><span>Overwhelmed</span></div></li>
                    <li class="column-text-outer"><div class="column-text-inner"><span>Stationary Study</span></div></li>
                    <li class="column-text-outer"><div class="column-text-inner"><span>Editorial Mimicry</span></div></li>
                    <li class="column-text-outer"><div class="column-text-inner"><span>Architecture</span></div></li>
                    <li class="column-text-outer"><div class="column-text-inner"><span>Insectified</span></div></li>
                    <li class="column-text-outer"><div class="column-text-inner"><span>Harold Nymph</span></div></li>
                    <li class="column-text-outer"><div class="column-text-inner"><span>Furnishings</span></div></li>
                    <li class="column-text-outer"><div class="column-text-inner"><span>Luminousity</span></div></li>
                    <li class="column-text-outer"><div class="column-text-inner"><span>Chocolate Waffles</span></div></li> -->
                </ul>
            </div>
        </div>
    </section>

    <!-- View 3 -->
    <section class="view03-container">
        <!-- <div class="top-filler"></div> -->
        <div class="image-bar" data-scroll-container data-scroll-call="{y,o,l,o}" (mousedown)="viewSwitcherService.setView3MouseDown($event)" (mouseup)="viewSwitcherService.setView3MouseUp()" (mousemove)="viewSwitcherService.drag($event)">
            <div style="width: calc(100vw - 28.8vh - 8px)"></div>
            <div style="width: 100vw" id="delete-on-view03"></div>
        </div>
        <!-- <div class="bottom-filler"></div> -->

        <div class="line-wrapper">        
            <div class="line" style="height: 0"></div>
            <div class="horizontal-line" style="width: 0"></div>
        </div>
    </section>
    <div class="view03-text">
        <div class="column-text-outer">
            <div class="column-text-inner" id="view03-title">
                Archive & Gallery
            </div>
        </div>
    </div>

    <section class="detail-view">
        <div class="route-filler">
            <router-outlet></router-outlet>
        </div>
        <div class="detail-bar-filler"></div>
    </section>
    <section class="detail-bar"></section>
</main>

<section class="column-background">
    <div></div>
    <div class="inner"></div> 
    <div class="inner"></div> 
    <div class="inner"></div> 
    <div class="inner"></div> 
    <div class="inner"></div> 
    <div class="inner"></div> 
    <div class="inner"></div> 
    <div class="inner"></div> 
    <div class="inner"></div> 
    <div></div>
</section>


<div class="please-rotate">
    <span>Please rotate your device.</span>
</div>