.collection {
    width: 100%;
    height: calc(100%);
    display: grid;
    grid-template-columns: 0 repeat(9, 1fr) 0;
    grid-template-rows: repeat(4, 1fr) 0;
    grid-gap: 2.7vw; 
    box-sizing: border-box;

    opacity: 0;


    .cell {
        min-height: 10px;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;
        // padding: 3%;
        position: relative;
        z-index: 1;

        img {
            max-width: 100%;
            max-height: 100%;
            transition: filter 1s;
            transition-timing-function: cubic-bezier(.28,.67,.32,.99);

            &:hover {
                cursor: pointer;
                filter: grayscale(1) contrast(1.1) !important;
            }
        }
    }

    &.grayscale img {
        // filter: grayscale(1) invert(0) !important;
        filter: grayscale(1) !important;

        &:hover {
            // filter: grayscale(1) invert(1) !important;
            filter: grayscale(0) !important;
        }
    }
}

.heading {
    mask-position: right;
    font-size: 2.5em;
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    text-transform: uppercase;

    opacity: 0;

    .text-container {
        overflow: hidden;
    }
    h1 {
        margin: 0;
        padding: 0;
        font-family: 'Bigilla', 'Urbanist';
        font-weight: normal;
        user-select: none; /* Standard */
        overflow: hidden;
        white-space: nowrap;
    }

    .right {
        transform: rotate(0deg) translateY(0.7rem);
    }
    .left {
        transform: rotate(180deg) translateY(0.7rem);
    }
}

#image-container {
    img {
        position: absolute;
        left: calc(50% - 10vw);
        top: calc(50% - 12.5vw); // 4:5 aspect ratio images
        width: 20vw;
        filter: grayscale(1);
        box-sizing: border-box;
    }
}

.view02-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    box-sizing: border-box;
    display: none;
    z-index: 1;
    // background: rgba(250,250,250,0.6);



    .collectionList{
        position: absolute;
        top: 0;
        box-sizing: border-box;
        padding: 0 2.7vw;
        height: 100%;

        .right {right: 0; text-align: right;}
        .left {left: 0; text-align: left;}

        .flex-container {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            height: 100%;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;


            .column-text-inner {
                transform: translateY(2rem); // ***** GSAP ANIMATION FROM PROPERTY *****
            }

            li {

                a {
                    font-size: 1.2rem;
                    text-transform: uppercase;
                    font-weight: 600;
                    &:hover {font-style: italic;}
                }
            }
        }
    }
}

img {
    background-color: var(--background);
    transition: filter 1s;
    transition-timing-function: cubic-bezier(.28,.67,.32,.99);

}

.column-text-outer {overflow: hidden;}

@media only screen and (max-width: 1250px) {
    main.collection {
        grid-gap: 1.9vw;

        .collectionList {
            padding: 0 1.9vw;
        }
    }
    .heading {
        font-size: 2.4em;
    }
}
@media only screen and (max-width: 1100px) {
    main.collection {
        grid-gap: 1.2vw;

        .view02-container .collectionList {
            padding: 0 1.2vw;
        }
    }
    .heading {
        font-size: 2.3em;
    }
}
@media only screen and (max-width: 950px) {
    main.collection {
        grid-gap: 0.9vw;

        .view02-container .collectionList {
            padding: 0 0.9vw;
        }
    }
    .heading {
        font-size: 2.2em;
    }
}


.bottom-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding: 0 10px 20px;
    height: 48%;
    box-sizing: border-box;

    position: absolute;
    z-index: 1;
    bottom: 20px;
    left: 0;

    overflow: visible;

    img {
        height: 100%;
        padding: 0 4px;

        max-width: 100%;
        max-height: 100%;

        &:hover {
            cursor: pointer;
        }
    }
    
    // &.scrollable {
    //     overflow-x: scroll;
    // }
    
}
.bottom-bar::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.bottom-bar::-webkit-scrollbar-thumb {
    width: 0;
    height: 0;
}
