<main class="collection">

    <div *ngFor="let image of collection" class="cell" #images>
            <img *ngIf="image.src" src="{{image.src}}" (mouseenter)="changeHeading('in', image.name)" 
            (mouseleave)="changeHeading('out')" (click)="navigate(image.url!, image.id)" [attr.data-srno]="image.id">
    </div>

    <div class="collectionList">
        <div class="flex-container left">
            <ul>
                <div *ngFor="let name of names; let i = index" class="column-text-outer">
                    <li class="column-text-inner"><a routerLink="collection/{{URLify(name)}}" [class.tab]="i % 2 === 1 && i !== 0">{{name}}</a></li>
                </div>
                <div *ngFor="let name of names; let i = index" class="column-text-outer">
                    <li class="column-text-inner"><a routerLink="collection/{{URLify(name)}}" [class.tab]="i % 2 === 1 && i !== 0">{{name}}</a></li>
                </div>
            </ul>
        </div>
    </div>
    <div class="collectionList right" style="right: 0!important; text-align: right;">
        <div class="flex-container">
            <ul>
                <div *ngFor="let name of names; let i = index" class="column-text-outer">
                    <li class="column-text-inner"><a routerLink="collection/{{URLify(name)}}" [class.tab]="i % 2 === 1 && i !== 0">{{name}}</a></li>
                </div>
                <div *ngFor="let name of names; let i = index" class="column-text-outer">
                    <li class="column-text-inner"><a routerLink="collection/{{URLify(name)}}" [class.tab]="i % 2 === 1 && i !== 0">{{name}}</a></li>
                </div>
            </ul>
        </div>
    </div>
    <section class="heading">
        <div class="text-container">
            <h1 class="right" #rightHeading (click)="switchView(2)">{{ currentTitle }}</h1>
        </div>
        <div class="text-container">
            <h1 class="left" #leftHeading (click)="switchView(1)">{{ currentTitle }}</h1>
        </div>
    </section>
</main>