.collection {
    width: 100%;
    height: calc(100%);
    display: grid;
    grid-template-columns: 0 repeat(9, 1fr) 0;
    grid-template-rows: repeat(4, 1fr) 0;
    grid-gap: 1.5vw; 
    box-sizing: border-box;

    opacity: 0;


    .cell {
        min-height: 10px;
        display: flex;
        // flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 3;

        img {
            max-width: 100%;
            max-height: 131%;
            padding: 0 7%;
            box-sizing: border-box;
            transition: filter 1s;
            transition-timing-function: cubic-bezier(.28,.67,.32,.99);
            position: absolute;

            &:hover {
                cursor: pointer;
                filter: grayscale(0.5) invert(1);
            }
        }
    }
}
  
.column-background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    display: grid;
    grid-template-columns: 0 repeat(9 , 1fr) 0;
    grid-auto-flow: column;
    grid-gap: 1.5vw;

    div.inner {
        box-sizing: border-box;
        // transition-property: ;
        transition: background-color 0.35s, border-color 0.35s;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
    }

    &.border {
        div.inner {
            border-color: rgba(0,0,0,0.03)
        }
    }
    &.background {
        div.inner {
            background: rgba(0,0,0,0.011);
        }
    }

    @media only screen and (max-width: 1250px) {grid-gap: 1.9vw}
    @media only screen and (max-width: 1100px) {grid-gap: 1.2vw}
    @media only screen and (max-width: 950px) {grid-gap: 0.9vw}
}

.heading {
    mask-position: right;
    font-size: 2.5em;
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    text-transform: uppercase;

    opacity: 0;

    .text-container {
        overflow: hidden;
    }
    h1 {
        margin: 0;
        padding: 0;
        font-family: 'Bigilla', 'Urbanist';
        font-weight: lighter;
        user-select: none; /* Standard */
        overflow: hidden;
        white-space: nowrap;
    }

    .right {
        transform: rotate(0deg) translateY(0.7rem);
    }
    .left {
        transform: rotate(180deg) translateY(0.7rem);
    }
}
* {box-sizing: border-box;}

#image-container {
    img {
        position: absolute;
        left: calc(50% - 9vw);
        top: calc(50% - 11.25vw); // 4:5 aspect ratio images
        width: 18vw;
        filter: grayscale(0.75);
        box-sizing: border-box;
    }
}

.view02-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    box-sizing: border-box;
    display: none;
    z-index: 2;
    // background: rgba(250,250,250,0.6);



    .collectionList{
        position: absolute;
        top: 0;
        box-sizing: border-box;
        padding: 0 2.7vw;
        height: 100%;

        .right {right: 0; text-align: right;}
        .left {left: 0; text-align: left;}

        .flex-container {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            height: 100%;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;


            .column-text-inner {
                transform: translateY(101%); // ***** GSAP ANIMATION FROM PROPERTY *****
            }

            li {

                span {
                    font-size: 1.2rem;
                    text-transform: uppercase;
                    font-weight: 500;
                    // font-weight: 500;
                    // font-size: 2.3rem;
                    // text-transform: uppercase;
                    // font-family: 'Bigilla';
                    &:hover {font-style: italic; cursor: pointer;}
                    // &.tab {margin: 0 20px;}
                }
            }
        }
    }
}

img {
    // background-color: var(--background);
    filter: grayscale(0.5);
    transition: filter 1s;
    transition-timing-function: cubic-bezier(.28,.67,.32,.99);

}

.column-text-outer {overflow: hidden;}

// .view03-container {
//     display: none !important;
//     height: 100%;
//     width: 100%;
//     position: absolute;
//     z-index: 1;

//     display: none; // set to flex in js
//     flex-flow: column nowrap;

//     .content {
//         flex: auto;
//         display: flex;
//         flex-flow: column nowrap;
//         padding: 0 10px;
//         box-sizing: border-box;

//         .filler {flex: auto}
//         .arrows-container {
//             display: flex;
//             flex-flow: row nowrap;

//             .arrows {
//                 padding: 0 35px 0 10px;
//                 font-size: 2.5rem;
//                 transform: scale(0.9);

//                 a {padding: 0 2px}

//                 // #arrow_1, #arrow_2 {
//                 //     animation: nothing 0s;
//                 //     animation-delay: 1s;
//                 //     animation-fill-mode: forwards;
//                 // }
//                 // @keyframes nothing {
//                 //     0% {opacity: 0}
//                 //     100% {opacity: 1}
//                 // }
//             }
//         }
//     }
//     .bottom-bar-filler {
//         height: calc(25vh + 60px);
//     }
// }
// .bottom-bar {
//     display: none; // set to flex with js
//     flex-flow: row nowrap;
//     justify-content: flex-start;
//     // align-items: flex-end;
//     padding: 0 10px 20px;
//     height: 40vh; // 22%
//     width: 100vw;
//     box-sizing: border-box;

//     position: absolute;
//     z-index: 2;
//     top: 30vh; //20px
//     left: 0;

//     transition: transform 50ms cubic-bezier(0.250, 0.460, 0.450, 0.940, 1);

//     overflow: visible;

//     img {
//         height: 100%;
//         padding: 0 4px;
//         box-sizing: border-box;

//         max-width: 100%;
//         // max-height: 100%;

//         transition: height 0.5s cubic-bezier(0.190, 0.480, 0, 1.000);

//         &:hover {
//             cursor: pointer;
//             // height: 140%;
//             width: auto;
//         }
//     }
    
// }

[data-scroll-container], [data-scroll-section] { transform-style: preserve-3d; will-change: transform; perspective: 1px !important}
.view03-container {
    display: flex;
    flex-flow: column nowrap;
    height: 100%; // 22%
    width: 100%;
    box-sizing: border-box;

    position: absolute;
    z-index: -2; // 2
    top: 0;
    left: 0;

    // overflow-x: visible;
    // overflow-y: hidden;

    .image-bar {
        height: 100%;
        box-sizing: border;
        padding: 32vh 0;
        padding-left: calc(50vw - 14.4vh - 4px);
        // display: flex;
        // flex-flow: row nowrap;
        // padding-left: 1vw;
        // width: calc((28.8vh + 8px) * 14); 
        width: 20000px;

        img {
            height: 100%;
            padding: 0 4px;
            box-sizing: border-box;
            display: inline-block;
    
            max-width: 100%;
            // max-height: 100%;
    
            transition: height 0.5s cubic-bezier(0.190, 0.480, 0, 1.000);
    
            &:hover {
                cursor: pointer;
                // height: 140%;
                width: auto;
            }
        }
    }
    // .top-filler, .bottom-filler {
    //     height: 32%;
    // }
    .line-wrapper {
        // mix-blend-mode: difference;
        position: fixed;
        z-index: 90000;
    }
    .line, .horizontal-line {
        position: fixed;
        z-index: 100000;
        transform: translate(-50%, -50%);
        background-color: hsl(0, 0%, 100%);
        // box-shadow: 0 0 5px rgba(0,0,0,0.2)
    }
    .line {
        height: 0;
        top: 50%;
        left: 50%;
        width: 1px;
        // display: none;
    }
    .horizontal-line {
        width: 0;
        height: 1px;
        top: 50%;
        left: 50%;
        // display: none;
    }
}
.view03-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.view03-container::-webkit-scrollbar-thumb {
    width: 0;
    height: 0;
}
.view03-text {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 32%;
    z-index: -2;
    box-sizing: border-box;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    #view03-title {
        font-family: 'Bigilla';
        font-size: 2.3rem;
        text-transform: uppercase;
        transform: translateY(101%);
        display: 'none';
        color: white;
    }
}


.detail-view {
    display: flex; // set to flex with js
    flex-flow: column nowrap;
    height: calc(100% - 45px); // 22%
    width: 100vw;

    position: absolute;
    z-index: 0;
    top: 45px;
    left: 0;

    .route-filler {
        height: 86%;
        box-sizing: border-box;
        // padding-top: 45px;
    }
    .detail-bar-filler {
        height: 14%
    }
}
.detail-bar {
    display: flex; // set to flex with js
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
    padding: 8px;
    height: 14%; // 22%
    width: 100vw;
    box-sizing: border-box;

    position: absolute;
    z-index: 1;
    bottom: 0; //20px
    left: 0;

    img {
        height: 100%;
        padding: 0 4px;
        box-sizing: border-box;

        max-width: 100%;
        // max-height: 100%;

        transition: height 0.5s cubic-bezier(0.190, 0.480, 0, 1.000);

        &:hover {
            cursor: pointer;
        }
    }
    
}


.please-rotate {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
    background: var(--background);
    font-weight: 600;
}


@media only screen and (max-width: 1250px) {
    main.collection {
        grid-gap: 1.9vw;

        .collectionList {
            padding: 0 1.9vw;
        }
    }
    .heading {
        font-size: 2.3em;
    }
    .column-grid-background {grid-gap: 1.9vw}
}
@media only screen and (max-width: 1150px) {
    main.collection {
        grid-gap: 1.2vw;

        .view02-container .collectionList {
            padding: 0 1.2vw;
        }
    }
    .heading {
        font-size: 2.2em;
    }
    .column-grid-background {grid-gap: 1.2vw}

}
@media only screen and (max-width: 1050px) {
    main.collection {
        grid-gap: 0.9vw;

        .view02-container .collectionList {
            padding: 0 0.9vw;
        }
    }
    .heading {
        font-size: 2.1em;
    }
    .column-grid-background {grid-gap: 0.9vw}

}
