<main #main id="scroller" (scroll)="onScroll()">
    <section class="column" *ngFor="let image of imageList, let i = index">
        <div class="edge-top"></div>
        <div class="image-list">
            <div class="image">
                <img src="{{image.src}}" (click)="navigate('out', image.url, image.id)" style="transform: translate(0px, 100px); opacity: -0.1" alt="image.alt">
            </div>
        </div>
        <div class="edge-bottom"></div>
    </section>
</main>

<section class="heading">
    <div class="content">
        <div class="column-text-inner" (click)="navigate('out', 'collection/aromatic-fragrance', 0)">
            <h1 #heading style="transform: translate(0px, 100%)">{{name}}</h1>
        </div>
    </div>
    <div class="filler"></div>
</section>

<div class="line" style="height: 0"></div>

<section class="router-wrapper">
    <router-outlet></router-outlet>
</section>