main {
    height: calc(100%);
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}
section.images {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    padding: 0 10px;
    div {
        // max-width: 75%;

        img {
            padding: 10px;
            // max-height: 60%;
            height: 75vh; //75
            display: inline-block;
            
            opacity: 0;
            transform: translateY(20px);
        }
    }
}
.images::-webkit-scrollbar {
    width: 0;
    background-color: var(--background)
}
.images::-webkit-scrollbar-thumb {
  background-color: var(--background)
}
