main {
    height: 100%;
}
.images {
    display: flex;
    align-items: center;
    overflow-x: visible;
    height: 100%;

    div {
        // max-width: 75%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;

        img {
            padding: 10px;
            box-sizing: border-box;
            // max-height: 60%;
            height: 85%; //75
            display: inline-block;
            
            opacity: -0.1;
            transform: translate(30px, 0);
        }
    }
}
.images::-webkit-scrollbar {
    width: 0;
    background-color: var(--background)
}
.images::-webkit-scrollbar-thumb {
  background-color: var(--background)
}

// @media only screen and (max-width: 1150px) {
//     .images div img {height: 70vh}
// }
// @media only screen and (max-width: 1050px) {
//     .images div img {height: 65vh}
// }
// @media only screen and (max-width: 950px) {
//     .images div img {height: 60vh}
// }
// @media only screen and (max-width: 800px) {
//     .images div img {height: 50vh}
// }
// @media only screen and (max-width: 700px) {
//     .images div img {height: 45vh}
// }




@media only screen and (max-width: 650px) {
    main {
        flex-flow: column nowrap;
        position: absolute;
        top: 0;

        .images {
            display: flex;
            flex-flow: column nowrap;
            overflow-x: hidden;
            overflow-y: scroll;
            padding: 45px 0;
            
            div {
                img {
                    display: block;
                    height: auto;
                    width: 100%;
                    box-sizing: border-box;

                    transform: translate(0, 30px);

    
                    &.right {padding-right: 20vw; text-align: right;}
                    &.left {padding-left: 20vw; text-align: left;}
                }
            }
        }
    }
}



// @media only screen and (max-width: 450px) {
//     section.images div img {height: 40vh}
// }