/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Bigilla';
    src: url('./assets/webfontkit-20220809-121457/Bigilla.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Bigilla';
    src: url('./assets/webfontkit-20220809-121457/Bigilla-Bold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}
// @font-face {
//     font-family: 'bigilla';
//     src: url('./assets/webfontkit-20220809-121457/bigilla_bigfontsite.com-webfont.woff2') format('woff2'),
//          url('./assets/webfontkit-20220809-121457/bigilla_bigfontsite.com-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }
// @font-face {
//     font-family: 'Urbanist';
//     src: url('./assets/Urbanist/Urbanist-Italic-VariableFont_wght.ttf') format('ttf'),
//          url('./assets/Urbanist/Urbanist-VariableFont_wght.ttf') format('ttf');
//     font-weight: normal;
//     font-style: normal;
    
// }
// @font-face {
//     font-family: 'Sk Modernist';
//     src: url('./assets/SkModernist/Sk-Modernist-Regular.otf') format('opentype');
//     font-weight: 400;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Sk Modernist';
//     src: url('./assets/SkModernist/Sk-Modernist-Bold.otf') format('opentype');
//     font-weight: 700;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Helvetica Now';
//     src: url('./assets/helvetica/HelveticaNowDisplay-Regular.otf') format('opentype'),
//          url('./assets/helvetica/HelveticaNowDisplay-RegIta.otf') format('opentype');
//     font-weight: 400;
//     font-style: normal;
// }


:root {
    --background: rgb(245,245,245);
    --background-text: black;
    --column-background: var(--background);
    --about-background: black;
    --about-background-text: white;
    --text-strikethrough: black;
    font-size: 0.9375rem;
}

// @media (prefers-color-scheme: dark) {
//     :root {
//         --background: rgb(10,10,10);
//         --background-text: white;
//         --column-background: var(--background);
//         --about-background: rgb(0,0,0);
//         --about-background-text: white;
//         color: white;
//     }
//     h1, a, p, li {color: white !important}
// }

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: var(--background-text);
    overflow: hidden;
    overscroll-behavior-y:none;
    user-select: none; /* Standard */
    overscroll-behavior-x: none;

}

// img {filter: grayscale(1)}

html {
    background: var(--background);
}

a {
    text-decoration: none;
    color: var(--background-text);
}

.column-text-outer {
    overflow: hidden;
}

::-moz-selection { background: black; color: white; }
::selection { background: black; color: white; }


@media only screen and (max-width: 1250px) {}
@media only screen and (max-width: 1100px) {}
@media only screen and (max-width: 950px) {}