/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'bigilla';
    src: url('./assets/webfontkit-20220809-121457/bigilla_bigfontsite.com-webfont.woff2') format('woff2'),
         url('./assets/webfontkit-20220809-121457/bigilla_bigfontsite.com-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Urbanist';
    src: url('./assets/Urbanist/Urbanist-Italic-VariableFont_wght.ttf') format('ttf'),
         url('./assets/Urbanist/Urbanist-VariableFont_wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    
}
@font-face {
    font-family: 'Helvetica Now';
    src: url('./assets/helvetica/HelveticaNowDisplay-Light.otf') format('opentype'),
         url('./assets/helvetica/HelveticaNowDisplay-LightIta.otf') format('opentype');
    font-weight: 300;
    font-style: 300;
}
@font-face {
    font-family: 'Helvetica Now';
    src: url('./assets/helvetica/HelveticaNowDisplay-Regular.otf') format('opentype'),
         url('./assets/helvetica/HelveticaNowDisplay-RegIta.otf') format('opentype');
    font-weight: 400;
    font-style: 400;
}
@font-face {
    font-family: 'Helvetica Now';
    src: url('./assets/helvetica/HelveticaNowDisplay-Medium.otf') format('opentype'),
         url('./assets/helvetica/HelveticaNowDisplay-MedIta.otf') format('opentype');
    font-weight: 500;
    font-style: 500;
}

:root {
    --background: rgb(250,250,250);
    --background-text: black;
    --column-background: var(--background);
    --about-background: black;
    --about-background-text: white;
    font-size: 0.9375rem;
}

// @media (prefers-color-scheme: dark) {
//     :root {
//         --background: rgb(10,10,10);
//         --background-text: white;
//         --column-background: var(--background);
//         --about-background: rgb(0,0,0);
//         --about-background-text: white;
//         color: white;
//     }
//     h1, a, p, li {color: white !important}
// }

html, body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    font-family: 'Urbanist', sans-serif;
    color: var(--background-text);
    overflow: hidden;
    overscroll-behavior-y:none;
    user-select: none; /* Standard */
}

html {
    background: var(--background);
}

a {
    text-decoration: none;
    color: var(--background-text);
}

.column-text-outer {
    overflow: hidden;
}

::-moz-selection { background: black; color: white; }
::selection { background: black; color: white; }


@media only screen and (max-width: 1250px) {}
@media only screen and (max-width: 1100px) {}
@media only screen and (max-width: 950px) {}